body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.common{
  box-sizing: border-box;
  width: 98vw;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vw;
}

.header{
  height: 10vh;
  justify-content: right;
  margin-right: 3vw;
} 

.header img {
  width: 300px;
  height: 250px;
  margin-top: 15px;
}

.sign table {
  text-align: center;
  min-width: 400px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgb(196, 196, 196);
}

.sign table h4 {
  text-shadow: 0px 0px 3px gold;
}

.sign table td {
  padding: 20px;
}

.sign table button {
  width: 80%;
  border-radius: 10px;
  padding: 5px;
  background-color: rgb(193, 109, 252);
  color: white;
}

.sign table button:hover {
  background-color: purple;
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.sign table input {
  width: 90%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid gray;
  box-shadow: 0px 0px 10px rgb(196, 196, 196);
}

.sign table input:focus {
  border: 2px solid purple;
  outline: none;
}

.sign table a {
  text-decoration: none;
  font-size: 15px;
}

.main-content{
  min-height: 78vh;
}

.footer{
  height: 10vh;
  gap: 2vw;
} 

.navlinks{
  display: flex;
}

.navlinks ul {
  display: flex;
  gap: 2vw;
  list-style: none;
}

.menu{
  display: none;
  font-size: 30px;
  cursor: pointer;
}

.headermenu {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 800px) {

  .menu{
    display: block;
    float: left;
    margin-left: -10vw;
  }
  .navlinks{
    display: none;
  }
  .navlinks ul {
    display: none;
  }
  .active{
    display: block;
    width: 60vw;
    margin-left: -15vw;
    position: fixed;
    margin-top: 45px;
  }
  .active ul {
    display: block;
  }
  .active li{
    background: linear-gradient(90deg, rgb(128, 75, 0), rgb(251, 224, 175));
    margin: 2px 0 0 0;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    letter-spacing: 2px;
  }
  .active li:hover {
    background: rgb(185, 95, 250);
  }
  .active li a {
    color: white;
  }
  .headermenu {
    display: block;
  }
}

